Environments
.venv/
env/
venv/
ENV/
Python Bytecode & Cache
pycache/
*.py[cod]
*$py.class
.pytest_cache/
OS Specific
.DS_Store
Thumbs.db
desktop.ini
Streamlit Local Runtime
.streamlit/secrets.toml
.streamlit
.devcontainer
Generated Plots & EDA Graphics
Plots/
plots/
Data files & generated outputs
*.csv
